<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add Produdct</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.fd.scss">

</head>
<body class="animsition">
	
	<!-- Header -->
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Mesob lorem is for you 
					</div>

					<div class="right-top-bar flex-w h-full">

						<a href="./login.html" class="flex-c-m trans-04 p-lr-25">
							Login as Admin
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="images/logos/logo-1.jpg" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="index.html">Home</a>
							</li>

							<li>
								<a href="vechile-product.html">Cars</a>
							</li>

							<li>
								<a href="./bldg-product.html">Building Supplies</a>
							</li>

							<li>
								<a href="./mach-product.html">Machienry</a>
							</li>

							<li>
								<a href="./prop-product.html">Property Sales and Rentals</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="images/logos/logo-1.jpg" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Mesob lorem
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Login as Admin
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					
				</li>

				<li>
					<a href="vechile-product.html">Cars</a>
				</li>

				<li>
					<a href="bldg-product.html" >Building Supplies</a>
				</li>

				<li>
					<a href="./mach-product.html">Machienry Items</a>
				</li>

				<li>
					<a href="./prop-product.html">Property Sales and Rentals</a>
				</li>

				<li>
					<a href="./about.html">About</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
        
 
    <section class="m-t-75 bg0 p-t-23 p-b-140">

        <!-- Add items -->
        <div class="p-b-10 p-l-50">
            <h3 class="ltext-103 cl5">
                Add your Products here
            </h3>
        </div>

        <!-- nav -->

        <div class="bor19 m-t-50  p-b-40  bg6">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs p-t-50" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#vechiles" role="tab">Vechiles</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#bldg_supplies" role="tab">Building Supplies</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#prop_sales" role="tab">Property Sales</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#machinery" role="tab">Machienry</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-43">
                    <!-- - -->
                    <div class="tab-pane fade show active" id="vechiles" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <form action="" class="needs-validation">
                        
                                <div class="row">
                                    <!-- first row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
        
                                        <!-- make -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="makeList" class="rs1-select2 bor8 bg0">
                                                <select id="makeSelect" class="js-select2" name="makeSelect">
                                                    
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- year -->
                                        <div class="size-204 respon6-next pb-3">
                                            
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Year</option>
                                                    <option>2010</option>
                                                    <option>2009</option>
                                                    <option>2008</option>
                                                    <option>2007</option>
                                                    <option>2006</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- fuel -->
                                        <div class="size-204 respon6-next pb-3">
                                            
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Fuel</option>
                                                    <option>Benzene</option>
                                                    <option>Diesel</option>
                                                    <option>Hybrid</option>
                                                    <option>Electric</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- Car Type -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Car Type</option>
                                                    <option>Car</option>
                                                    <option>Van</option>
                                                    <option>Truck</option>
                                                    <option>MotorBike</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>

                                        <!-- Condition -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Slightly Used</option>
                                                    <option value="" >New</option>
                                                    <option value="" >Used</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- color -->
                                        <div class=" size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="car-color" placeholder="  Color">
                                        </div>
        
                                        <!-- price -->
                                        <div class="size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="car-color" placeholder="  Price">
                                        </div>
        
        
                                        
                                    </div>
                        
                                    <!-- second row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
        
                                        <!-- model -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" selected disabled>Model</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- Transmission -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" disabled selected>Transmission</option>
                                                    <option value="" >Manual</option>
                                                    <option value="" >Automatic</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- engine -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" disabled selected>Engine</option>
                                                    <option value="" >800</option>
                                                    <option value="" >1000</option>
                                                    <option value="" >1300</option>
                                                    <option value="" >1600</option>
                                                    <option value="" >2000</option>
                                                    <option value="" >2500</option>
                                                    <option value="" >3500</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
        
                                        <!-- location -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Location</option>
        
                                                    <option disabled >Addis Ababa</option>
                                                    <option>Addis Ketema</option>
                                                    <option>Akaki Kality</option>
                                                    <option>Arada</option>
                                                    <option>Bole</option>
                                                    <option value="">Gulele</option>
                                                    <option value="">Kirkos</option>
                                                    <option value="">Kolfe Keranio</option>
                                                    <option value="">Lideta</option>
                                                    <option value="">Nefas Silk Lafto</option>
                                                    <option value="">Yeka</option>
                                                    <option value="">Other Place</option>
                                                    <option disabled >Dire Dawa</option>
                                                    <option>Dire Dawa</option>
                                                    <option disabled >Tigray</option>
                                                    <option>Adigrat</option>
                                                    <option value="">Adwa</option>
                                                    <option value="">Axum</option>
                                                    <option value="">Humera</option>
                                                    <option value="">Mek'ele</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Oromia</option>
                                                    <option>Adama</option>
                                                    <option value="">Ambo</option>
                                                    <option value="">Asella</option>
                                                    <option value="">Bishoftu</option>
                                                    <option value="">Jimma</option>
                                                    <option value="">Negele Borena</option>
                                                    <option value="">Shashemene</option>
                                                    <option value="">Ziway</option>
                                                    <option value="">Other</option>
                                                    <option disabled >SNNPR</option>
                                                    <option>Hawassa</option>
                                                    <option value="">Arba Minch</option>
                                                    <option value="">Bonga</option>
                                                    <option value="">Dila</option>
                                                    <option value="">Hossana</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Amhara</option>
                                                    <option>Bahir Dar</option>
                                                    <option value="">Debre Berhan</option>
                                                    <option value="">Debre Markos</option>
                                                    <option value="">Dessie</option>
                                                    <option value="">Gondar</option>
                                                    <option value="">Lalibela</option>
                                                    <option value="">Kombolcha</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Somali</option>
                                                    <option value="">Degahabur</option>
                                                    <option value="">Gode</option>
                                                    <option value="">Jigjiga</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Afar</option>
                                                    <option value="">Assayta</option>
                                                    <option value="">Awash</option>
                                                    <option value="">Semera</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Gambela</option>
                                                    <option value="">Gambela</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Harari</option>
                                                    <option value="">Harari</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Benishangul-Gumuz</option>
                                                    <option value="">Assosa</option>
                                                    <option value="">Other</option>
        
        
        
        
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>

                                        <!-- process -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Available</option>
                                                    <option value="" >Is Sold</option>
                                                    <option value="" >On Process</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- millage -->
                                        <div class=" size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="mileage" placeholder="  Mileage in KM">
                                        </div>
        
                                        <!-- pricing -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Negotiable</option>
                                                    <option value="" >Fixed Price</option>
                                                    <option value="" >Price on Call</option>
                                                    <option value="" >Price in USD</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>
        
                                   <div class="row">
                                       <div class="col-sm-6 col-md-4 col-lg-6 p-l-150">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                ABS
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Air Conditioning
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Almunium Rims
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Power Locks
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Centeral Lock
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Immobilizer Key/Button
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Power Mirrors
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Cool Box
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Power Steering
                                                </label>
                                            </div>
                                       </div>
                                       <div class="col-sm-6 col-md-4 col-lg-6 p-l-150">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Air Bags
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Alarm System
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                AM/FM radio
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                CD Player
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                DVD Payer
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Cruise Control
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Navigation System
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Power Windows
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                Reversing Camera
                                                </label>
                                            </div>
                                       </div>
                                   </div> 
        
                                    
        
                                    
                                
        
                                </div> 
                                <div class="container m-t-25">
                                    <textarea class="form-control" id="validationTextarea" placeholder="Description"></textarea>
        
                                </div>
                                <div class="custom-file p-l-90">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Photo Upload please Choose File</label>
                                </div>
        
                                
                                <div class="m-l-35">
                                    <button class="btn btn-primary  m-t-25" type="submit">Submit form</button>
                                </div>
        
        
                            
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="bldg_supplies" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <form action="" class="needs-validation">
                                
                        
                                <div class="row">
                                    <!-- first row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
        
                                        <!-- catagory -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="bldgCatagorySelect" class="js-select2" name="bldgCatagorySelect">
                                                   
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- price -->
                                        <div class=" size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Price">
                                        </div>

                                        <!-- Condition -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Slightly Used</option>
                                                    <option value="" >New</option>
                                                    <option value="" >Used</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>

                                        <!-- process -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Available</option>
                                                    <option value="" >Is Sold</option>
                                                    <option value="" >On Process</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
      
                                        
                                    </div>
                        
                                    <!-- second row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
        
                                        <!-- Building Detail -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="" class="rs1-select2 bor8 bg0">
                                                <select id="bldgDetailSelect" class="js-select2" name="model">
                                                    <option value="" selected disabled>Building Detail</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
        
                                        <!-- location -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Location</option>
        
                                                    <option disabled >Addis Ababa</option>
                                                    <option>Addis Ketema</option>
                                                    <option>Akaki Kality</option>
                                                    <option>Arada</option>
                                                    <option>Bole</option>
                                                    <option value="">Gulele</option>
                                                    <option value="">Kirkos</option>
                                                    <option value="">Kolfe Keranio</option>
                                                    <option value="">Lideta</option>
                                                    <option value="">Nefas Silk Lafto</option>
                                                    <option value="">Yeka</option>
                                                    <option value="">Other Place</option>
                                                    <option disabled >Dire Dawa</option>
                                                    <option>Dire Dawa</option>
                                                    <option disabled >Tigray</option>
                                                    <option>Adigrat</option>
                                                    <option value="">Adwa</option>
                                                    <option value="">Axum</option>
                                                    <option value="">Humera</option>
                                                    <option value="">Mek'ele</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Oromia</option>
                                                    <option>Adama</option>
                                                    <option value="">Ambo</option>
                                                    <option value="">Asella</option>
                                                    <option value="">Bishoftu</option>
                                                    <option value="">Jimma</option>
                                                    <option value="">Negele Borena</option>
                                                    <option value="">Shashemene</option>
                                                    <option value="">Ziway</option>
                                                    <option value="">Other</option>
                                                    <option disabled >SNNPR</option>
                                                    <option>Hawassa</option>
                                                    <option value="">Arba Minch</option>
                                                    <option value="">Bonga</option>
                                                    <option value="">Dila</option>
                                                    <option value="">Hossana</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Amhara</option>
                                                    <option>Bahir Dar</option>
                                                    <option value="">Debre Berhan</option>
                                                    <option value="">Debre Markos</option>
                                                    <option value="">Dessie</option>
                                                    <option value="">Gondar</option>
                                                    <option value="">Lalibela</option>
                                                    <option value="">Kombolcha</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Somali</option>
                                                    <option value="">Degahabur</option>
                                                    <option value="">Gode</option>
                                                    <option value="">Jigjiga</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Afar</option>
                                                    <option value="">Assayta</option>
                                                    <option value="">Awash</option>
                                                    <option value="">Semera</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Gambela</option>
                                                    <option value="">Gambela</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Harari</option>
                                                    <option value="">Harari</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Benishangul-Gumuz</option>
                                                    <option value="">Assosa</option>
                                                    <option value="">Other</option>
        
        
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
        
                                        <!-- pricing -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Negotiable</option>
                                                    <option value="" >Fixed Price</option>
                                                    <option value="" >Price on Call</option>
                                                    <option value="" >Price in USD</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>
        

                                </div> 
                                <div class="container m-t-25">
                                    <textarea class="form-control" id="validationTextarea" placeholder="Description"></textarea>
        
                                </div>
                                <div class="custom-file p-l-90">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Photo Upload please Choose File</label>
                                </div>
        
                                
                                <div class="m-l-35">
                                    <button class="btn btn-primary  m-t-25" type="submit">Submit form</button>
                                </div>
        
        
                            
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="prop_sales" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <form action="" class="needs-validation">
                                
                        
                                <div class="row">
                                    <!-- first row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
        
                                        <!-- title -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select id="property_title" class="js-select2" name="bldgCatagorySelect">
                                                    <option value="" selected disabled>Property Sales & Rentals</option>
                                                    <option value="">Appartament</option>
                                                    <option value="">Houses</option>
                                                    <option value="">Land</option>
                                                    <option value="">Rooms</option>
                                                    <option value="">Offices</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
        
                                        <!-- price -->
                                        
                                        <div class="size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Price">
                                        </div>

                                        <!-- nuber of bedrooms -->
                                        <div class="size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Number of bedrooms">
                                        </div>

                                        <!-- process -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Available</option>
                                                    <option value="" >Is Sold</option>
                                                    <option value="" >On Process</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
      
                                        
                                    </div>
                        
                                    <!-- second row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">

                                        <!-- type -->

                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select id="property_type" class="js-select2" name="bldgCatagorySelect">
                                                    <option value="" selected disabled>Sales & Rentals</option>
                                                    <option value="">For Sale</option>
                                                    <option value="">For Rent</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                        
                                        <!-- location -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Location</option>
        
                                                    <option disabled >Addis Ababa</option>
                                                    <option>Addis Ketema</option>
                                                    <option>Akaki Kality</option>
                                                    <option>Arada</option>
                                                    <option>Bole</option>
                                                    <option value="">Gulele</option>
                                                    <option value="">Kirkos</option>
                                                    <option value="">Kolfe Keranio</option>
                                                    <option value="">Lideta</option>
                                                    <option value="">Nefas Silk Lafto</option>
                                                    <option value="">Yeka</option>
                                                    <option value="">Other Place</option>
                                                    <option disabled >Dire Dawa</option>
                                                    <option>Dire Dawa</option>
                                                    <option disabled >Tigray</option>
                                                    <option>Adigrat</option>
                                                    <option value="">Adwa</option>
                                                    <option value="">Axum</option>
                                                    <option value="">Humera</option>
                                                    <option value="">Mek'ele</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Oromia</option>
                                                    <option>Adama</option>
                                                    <option value="">Ambo</option>
                                                    <option value="">Asella</option>
                                                    <option value="">Bishoftu</option>
                                                    <option value="">Jimma</option>
                                                    <option value="">Negele Borena</option>
                                                    <option value="">Shashemene</option>
                                                    <option value="">Ziway</option>
                                                    <option value="">Other</option>
                                                    <option disabled >SNNPR</option>
                                                    <option>Hawassa</option>
                                                    <option value="">Arba Minch</option>
                                                    <option value="">Bonga</option>
                                                    <option value="">Dila</option>
                                                    <option value="">Hossana</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Amhara</option>
                                                    <option>Bahir Dar</option>
                                                    <option value="">Debre Berhan</option>
                                                    <option value="">Debre Markos</option>
                                                    <option value="">Dessie</option>
                                                    <option value="">Gondar</option>
                                                    <option value="">Lalibela</option>
                                                    <option value="">Kombolcha</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Somali</option>
                                                    <option value="">Degahabur</option>
                                                    <option value="">Gode</option>
                                                    <option value="">Jigjiga</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Afar</option>
                                                    <option value="">Assayta</option>
                                                    <option value="">Awash</option>
                                                    <option value="">Semera</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Gambela</option>
                                                    <option value="">Gambela</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Harari</option>
                                                    <option value="">Harari</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Benishangul-Gumuz</option>
                                                    <option value="">Assosa</option>
                                                    <option value="">Other</option>
        
        
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>

                                        <!-- nuber of bathrooms -->
                                        <div class=" size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Number of bathrooms">
                                        </div>

                                        <!-- sq.ft -->
                                        <!-- nuber of bedrooms -->
                                        <div class="size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Square Feet">
                                        </div>
        
                                        
        
        
                                        <!-- pricing -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Negotiable</option>
                                                    <option value="" >Fixed Price</option>
                                                    <option value="" >Price on Call</option>
                                                    <option value="" >Price in USD</option>
                                                    <option value="" >Price per 1 sq.ft</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>
        

                                </div> 
                                <div class="container m-t-25">
                                    <textarea class="form-control" id="validationTextarea" placeholder="Description"></textarea>
        
                                </div>
                                <div class="custom-file p-l-90">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Photo Upload please Choose File</label>
                                </div>
        
                                
                                <div class="m-l-35">
                                    <button class="btn btn-primary  m-t-25" type="submit">Submit form</button>
                                </div>
        
        
                            
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="machinery" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <form action="" class="needs-validation">
                                
                        
                                <div class="row">
                                    <!-- first row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">

                                        <!-- mach nname -->
                                        <div class=" size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="name" placeholder="  Machinery Name">
                                        </div>
        
        
                                        <!-- price -->
                                        <div class="size-204 respon6-next pb-3">
                                            <input class="mtext-107 cl2 size-114 " type="text" name="price" placeholder="  Price">
                                        </div>

                                        <!-- process -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Available</option>
                                                    <option value="" >Is Sold</option>
                                                    <option value="" >On Process</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
      
                                        
                                    </div>
                        
                                    <!-- second row -->
                                    <div class="col-sm-6 col-md-4 col-lg-6 p-l-50">
                                        
                                        <!-- location -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option value="" selected disabled>Location</option>
        
                                                    <option disabled >Addis Ababa</option>
                                                    <option>Addis Ketema</option>
                                                    <option>Akaki Kality</option>
                                                    <option>Arada</option>
                                                    <option>Bole</option>
                                                    <option value="">Gulele</option>
                                                    <option value="">Kirkos</option>
                                                    <option value="">Kolfe Keranio</option>
                                                    <option value="">Lideta</option>
                                                    <option value="">Nefas Silk Lafto</option>
                                                    <option value="">Yeka</option>
                                                    <option value="">Other Place</option>
                                                    <option disabled >Dire Dawa</option>
                                                    <option>Dire Dawa</option>
                                                    <option disabled >Tigray</option>
                                                    <option>Adigrat</option>
                                                    <option value="">Adwa</option>
                                                    <option value="">Axum</option>
                                                    <option value="">Humera</option>
                                                    <option value="">Mek'ele</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Oromia</option>
                                                    <option>Adama</option>
                                                    <option value="">Ambo</option>
                                                    <option value="">Asella</option>
                                                    <option value="">Bishoftu</option>
                                                    <option value="">Jimma</option>
                                                    <option value="">Negele Borena</option>
                                                    <option value="">Shashemene</option>
                                                    <option value="">Ziway</option>
                                                    <option value="">Other</option>
                                                    <option disabled >SNNPR</option>
                                                    <option>Hawassa</option>
                                                    <option value="">Arba Minch</option>
                                                    <option value="">Bonga</option>
                                                    <option value="">Dila</option>
                                                    <option value="">Hossana</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Amhara</option>
                                                    <option>Bahir Dar</option>
                                                    <option value="">Debre Berhan</option>
                                                    <option value="">Debre Markos</option>
                                                    <option value="">Dessie</option>
                                                    <option value="">Gondar</option>
                                                    <option value="">Lalibela</option>
                                                    <option value="">Kombolcha</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Somali</option>
                                                    <option value="">Degahabur</option>
                                                    <option value="">Gode</option>
                                                    <option value="">Jigjiga</option>
                                                    <option value="">Other</option>
                                                    <option disabled >Afar</option>
                                                    <option value="">Assayta</option>
                                                    <option value="">Awash</option>
                                                    <option value="">Semera</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Gambela</option>
                                                    <option value="">Gambela</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Harari</option>
                                                    <option value="">Harari</option>
                                                    <option value="">Other</option>
                                                    <option value="" disabled>Benishangul-Gumuz</option>
                                                    <option value="">Assosa</option>
                                                    <option value="">Other</option>
        
        
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>


                                        <!-- pricing -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Negotiable</option>
                                                    <option value="" >Fixed Price</option>
                                                    <option value="" >Price on Call</option>
                                                    <option value="" >Price in USD</option>
                                                    <option value="" >Price per 1 sq.ft</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                        
                                        <!-- condition -->
                                        <div class="size-204 respon6-next pb-3">
                                            <div id="modelList" class="rs1-select2 bor8 bg0">
                                                <select id="modelSelect" class="js-select2" name="model">
                                                    <option value="" >Slightly Used</option>
                                                    <option value="" >New</option>
                                                    <option value="" >Used</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>
        

                                </div> 
                                <div class="container m-t-25 ">
                                    <textarea class="form-control" id="validationTextarea" placeholder="Description"></textarea>
        
                                </div>
                                <!-- <div class="custom-file p-l-90">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Photo Upload please Choose File</label>
                                </div> -->

                                <div>
                                    <button class="m-t-10 btn btn-primary" type="button" onclick="selectFiles();">
                                        Upload Photos
                                    </button>
                                 
                                </div>

                                <div id="selected-images"></div>
        
                                
                                <div class="m-l-35">
                                    <button class="btn btn-primary  m-t-25" type="submit">Submit form</button>
                                </div>
                            </form>
                        </div>
                    </div>

                

                </div>
            </div>
        </div>

        
    </section>




	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Links
					</h4>

					<div class="row">
						<div class="col-sm-6 col-lg-6 p-b-50">
							<ul>
								<li class="p-b-10">
									<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
										Home
									</a>
								</li>
		
								<li class="p-b-10">
									<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
										Vechiles
									</a>
								</li>
		
							</ul>
						</div>

						<div class="col-sm-6 col-lg-6 p-b-50">
							<ul>
								<li class="p-b-10">
									<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
										Home
									</a>
								</li>
		
								<li class="p-b-10">
									<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
										Vechiles
									</a>
								</li>
		
							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								About Mesob
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Contact us 
							</a>
						</li>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know bla bla </p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Call us on
					</h4>

					<p class="stext-107 cl7 size-201">
						094551221 </p>
						<p class=" stext-107 cl7 size-201">
							094551221 </p>
					
				</div>
			</div>

			<div class="p-t-40">
			

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="https://eshidigital.com" target="_blank">Eshi Digital</a> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
    </script>

<!-- image loading -->
<!--===============================================================================================-->
    <script src="./vendor/bootstrap/js/bootstrap.fd.js"></script>
    <script>
        function selectFiles() {

            window.selectedImages = [];
 
            $.FileDialog({
                "accept": "image/*"
            }).on("files.bs.filedialog", function (event) {
                var html = "";
                for (var a = 0; a < event.files.length; a++) {
                    selectedImages.push(event.files[a]);
                    html += "<img class='img-responsive image-resize' src='" + event.files[a].content + "'>";
                }
                document.getElementById("selected-images").innerHTML += html;
            });
        }

        

    </script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/sweetalert/sweetalert.min.js"></script>
    
    <!-- script for make and model -->
    <script>
        

        $(document).ready(function(){
            load_make_json_data('makeSelect');
            load_bldg_json_data('bldgCatagorySelect');

            // make function

            function load_make_json_data(id, parent_id){
                let html_code = "";
                $.getJSON('make-data.json', function(data){

                    if(id=='makeSelect'){
                        html_code += "<option value='' selected disabled>Make</option>";
                    }else if(id=='modelSelect'){
                        html_code += "<option value='' selected disabled>Model</option>";
                    }

                    $.each(data, function(key, value){
                        if(id == 'makeSelect'){
                            
                            if(value.parent_id == '0'){
                                html_code += '<option value="'+value.name+'">'+value.name+'</option>';
                            }
                        }else{
                            
                            if(value.parent_id == parent_id){
                                
                                html_code += '<option value="'+value.name+'">'+value.name+'</option>';
                            }
                        
                        }
                        

                        if($("#modelSelect").val() == "Model"){
                            html_code = "sdgbkbh";
                        }
                    });
                    $('#'+id).html(html_code);
                });
            }
            $(document).on('change', '#makeSelect', function(){

                var make_name = $(this).val();
                if(make_name != ''){
                    load_make_json_data('modelSelect', make_name);
                }
                else{
                    $('#makeSelect').html('<option value="">Select Make</option>');
                    $('#modelSelect').html('<option value="">Select Model</option>');
                }

            });


            // bdlg function
            function load_bldg_json_data(id, parent_id){
                let html_code = "";
                $.getJSON('bldg-data.json', function(data){

                    if(id=='bldgCatagorySelect'){
                        html_code += "<option value='' selected disabled>Building Material Catagorey</option>";
                    }else if(id=='bldgDetailSelect'){
                        html_code += "<option value='' selected disabled>Building Material Catagorey</option>";
                    }

                    $.each(data, function(key, value){
                        if(id == 'bldgCatagorySelect'){
                            if(value.parent_id == '0'){
                                html_code += '<option value="'+value.id+'">'+value.name+'</option>';
                                
                            }
                        }else{
                            if(value.parent_id == parent_id){
                                html_code += '<option value="'+value.id+'">'+value.name+'</option>';
                            }
                        }
                    });
                    $('#'+id).html(html_code);
                });
            }
            $(document).on('change', '#bldgCatagorySelect', function(){

                var make_name = $(this).val();
                
                if(make_name != ''){
                    load_bldg_json_data('bldgDetailSelect', make_name);
                }
                else{
                    $('#bldgCatagorySelect').html('<option value="">Select Building Supplies Catagory</option>');
                    $('#bldgDetailSelect').html('<option value="">Select Model</option>');
                }

            });

        });

        

    </script>


	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>