<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Links
                </h4>

                <div class="row">
                    <div class="col-sm-6 col-lg-6 p-b-50">
                        <ul>
                            <li class="p-b-10">
                                <a href="/index" class="stext-107 cl7 hov-cl1 trans-04">
                                    Home
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="/vechile-product" class="stext-107 cl7 hov-cl1 trans-04">
                                    Vechiles
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="/bldg-product" class="stext-107 cl7 hov-cl1 trans-04">
                                    Building Supplies
                                </a>
                            </li>
    
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-6 p-b-50">
                        <ul>
                            <li class="p-b-10">
                                <a href="/prop-product" class="stext-107 cl7 hov-cl1 trans-04">
                                    Property Sales & Rentals
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="/mach-product" class="stext-107 cl7 hov-cl1 trans-04">
                                    Machinery
                                </a>
                            </li>
    
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/about" class="stext-107 cl7 hov-cl1 trans-04">
                            About Mesob
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know bla bla </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Call us on
                </h4>

                <p class="stext-107 cl7 size-201">
                    094551221 </p>
                    <p class="stext-107 cl7 size-201">
                        094551221 </p>
                
            </div>
        </div>

        <div class="p-t-40">
        

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="https://eshidigital.com" target="_blank">Eshi Digital</a> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>