<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Mesob lorem is for you 
					</div>

					<div class="right-top-bar flex-w h-full">

						<a href="./login.html" class="flex-c-m trans-04 p-lr-25">
							Login as Admin
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="images/logos/logo-1.jpg" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="index.html">Home</a>
							</li>

							<li>
								<a href="vechile-product.html">Cars</a>
							</li>

							<li>
								<a href="./bldg-product.html">Building Supplies</a>
							</li>

							<li>
								<a href="./mach-product.html">Machienry</a>
							</li>

							<li>
								<a href="./prop-product.html">Property Sales and Rentals</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="images/logos/logo-1.jpg" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Mesob lorem
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Login as Admin
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					
				</li>

				<li>
					<a href="vechile-product.html">Cars</a>
				</li>

				<li>
					<a href="bldg-product.html" >Building Supplies</a>
				</li>

				<li>
					<a href="./mach-product.html">Machienry Items</a>
				</li>

				<li>
					<a href="./prop-product.html">Property Sales and Rentals</a>
				</li>

				<li>
					<a href="./about.html">About</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>


		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60 m-t-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">									
					
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">

								<!-- side images -->
								<div class="item-slick3" data-thumb="images/cars/card-car-01.jpg">
									<div class="wrap-pic-w pos-relative">
										

										<!-- center image -->
										<img src="images/cars/card-car-01.jpg" alt="IMG-PRODUCT">
										
										<!-- full screen view -->
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/card-car-01.jpg">
											<i class="fa fa-expand"></i>
										</a>
										
									</div>
								</div>

								<div class="item-slick3" data-thumb="images/cars/card-car-01.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="images/cars/card-car-01.jpg" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/card-car-01.jpg">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="images/cars/card-car-01.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="images/cars/banner-car-01.jpg" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/banner-car-01.jpg">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<!-- detail page -->
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">

						<h6 class="stext-101">
							Machienry id: <span id="car_id">Mach001</span>
						</h6>
						
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							Machienry name 
						</h4>

						<span class="mtext-106 cl2">
							ETB 350,000 <span class="stext-102">Negotiable</span><span class="sold-label m-l-30" data-sold-label="Sold"> </span>
						</span>

						<div class="container p-b-3">
							<div>
								<i class="fa fa-location-arrow"></i> Addis Ababa, Kera
							</div>
							<div>
								Build year: 1992
							</div>
							<div>
								Condition: Used
							</div>
							<div>
								<i class="fa fa-eye"></i> 256
							</div>
						</div>
						
					
						<!-- social media -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">

							<div class="mtext-106 cl2">
								<span class="stext-102">Call us on: </span>094645165665
							</div>
							<div class="container">
								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- desc place -->

			<div class="bor10 m-t-10 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">

						<li class="nav-item p-b-10 active">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
						</li>

						
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->

						<!-- description -->
						<div class="tab-pane active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nisi incidunt est sint ipsa amet provident sequi perspiciatis esse corporis illo porro quo corrupti vel, adipisci alias voluptate. Sit modi unde sequi ducimus molestiae vel perspiciatis fuga sunt temporibus alias laborum id culpa mollitia, facere maiores. Facere exercitationem eaque consequuntur!
								</p>
							</div>
						</div>

						<!-- - -->

					</div>
				</div>
			</div>
		</div>
	</section>


		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
    
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Links
                    </h4>
    
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 p-b-50">
                            <ul>
                                <li class="p-b-10">
                                    <a href="./index.html" class="stext-107 cl7 hov-cl1 trans-04">
                                        Home
                                    </a>
                                </li>
        
                                <li class="p-b-10">
                                    <a href="./vechile-product.html" class="stext-107 cl7 hov-cl1 trans-04">
                                        Vechiles
                                    </a>
                                </li>
    
                                <li class="p-b-10">
                                    <a href="./bldg-product.html" class="stext-107 cl7 hov-cl1 trans-04">
                                        Building Supplies
                                    </a>
                                </li>
        
                            </ul>
                        </div>
    
                        <div class="col-sm-6 col-lg-6 p-b-50">
                            <ul>
                                <li class="p-b-10">
                                    <a href="./prop-product.html" class="stext-107 cl7 hov-cl1 trans-04">
                                        Property Sales & Rentals
                                    </a>
                                </li>
        
                                <li class="p-b-10">
                                    <a href="./mach-product.html" class="stext-107 cl7 hov-cl1 trans-04">
                                        Machinery
                                    </a>
                                </li>
        
                            </ul>
                        </div>
                    </div>
    
                </div>
    
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>
    
                    <ul>
                        <li class="p-b-10">
                            <a href="./about.html" class="stext-107 cl7 hov-cl1 trans-04">
                                About Mesob
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>
    
                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know bla bla </p>
    
                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>
    
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>
    
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Call us on
                    </h4>
    
                    <p class="stext-107 cl7 size-201">
                        094551221 </p>
                        <p class="stext-107 cl7 size-201">
                            094551221 </p>
                    
                </div>
            </div>
    
            <div class="p-t-40">
            
    
                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="https://eshidigital.com" target="_blank">Eshi Digital</a> 
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    
                </p>
            </div>
        </div>
    </footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 for detail page-->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
<!-- images -->
								<div class="slick3 gallery-lb">
									<!-- side image -->
									<div class="item-slick3" data-thumb="images/cars/banner-car-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<!-- center image -->
											<img src="images/cars/banner-car-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/banner-car-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<!-- side image 2 -->
									<div class="item-slick3" data-thumb="images/cars/banner-car-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/cars/banner-car-01.jpg" alt="IMG-PRODUCT">
											
											<!-- full screen view -->
											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/banner-car-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<!-- side image 3 -->

									<div class="item-slick3" data-thumb="images/cars/banner-car-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/cars/banner-car-01.jpg" alt="IMG-PRODUCT">
											<!-- centarl image 3 -->
											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/cars/banner-car-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>